*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    /* overflow: hidden !important; */

   
}
nav{
    box-shadow: none !important;
}
.nav-wrapper{
    background-color: #fff;
    border: none;
    display: flex;
}


.nav-menu{
   margin-top: 0px;
   font-size: 50px;
   font-weight: 900;
   letter-spacing: 1px;
   
}

.nav-link{
    margin-top: -10px;
 }
.nav-logo{
    margin-top: 10px;
    width: 3%;
}
.brand-logo{
    color: #000 !important;
    font-size: 15px !important;
}
nav ul a:hover,
nav ul a:active,
nav ul li.active,
nav ul a:hover {
    background: none !important;
}

.form-Input{
    width: 100%;
    height: 30vh !important;
    overflow: hidden !important;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.form-Input a{
    margin-top: -30px;
    font-size: 12px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.center-Input{
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    /* background: #000; */
}
.input-field input{
    width: 100%;
    border-bottom: none !important;
    background-color: #d3d3d38c !important;
}
input[type=number],
input[type=number]:focus,
input[type=number]:active
 {
    -moz-appearance: textfield;
    appearance: textfield;
    -webkit-appearance: textfield;
    -ms-appearance: textfield;
    appearance: textfield;
  }
::-webkit-input-placeholder {
    color: #000;
  }
  ::-moz-placeholder {
    color: #000;
  }
  :-ms-input-placeholder {
    color: #000;
  }
  ::-ms-input-placeholder {
    color: #000;
  }
  ::placeholder {
    color: #000;
  }

  label{
    color: rgba(0, 0, 0, 0.5) !important;
    padding-left: 10px; 
   
    font-family: sans-serif !important;
  }
  .input-field {
    position: relative;
    margin-top: .1rem !important;
    margin-bottom: .5rem !important;
  }

  input:active{
      border-bottom: red !important;
  }
  hr{
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn{
    width: 40%;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    font-family: sans-serif;
    background: #000 !important;
   color: red !important;
  }
  .menu{
    width: 80%;
    height: 70vh;
    /* background: #000; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }
    .menu .items{
        width: 70%;
        height: 50%;
        /* background-color: brown; */
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .menu .items ul{
        list-style: none;
    }
    .menu .items ul li{
        text-align: center;
        padding: 5px;
    }
    .menu .items ul li a{
        color: #000;
        text-align: center;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
    .menu .items hr{
        margin-top: 15px;
        border: .5px solid rgba(0, 0, 0, 0.1);
    }
    .menu .items p{
        margin-top: 30px;
        text-align: center;
        font-family: sans-serif;
        font-size: 20px;
    }
    .menu .items p a{
        text-decoration: none;
        color: #000;
    }

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type=text]:not(.browser-default):disabled + label,
input[type=text]:not(.browser-default)[readonly="readonly"] + label,
input[type=password]:not(.browser-default):disabled + label,
input[type=password]:not(.browser-default)[readonly="readonly"] + label,
input[type=email]:not(.browser-default):disabled + label,
input[type=email]:not(.browser-default)[readonly="readonly"] + label,
input[type=url]:not(.browser-default):disabled + label,
input[type=url]:not(.browser-default)[readonly="readonly"] + label,
input[type=time]:not(.browser-default):disabled + label,
input[type=time]:not(.browser-default)[readonly="readonly"] + label,
input[type=date]:not(.browser-default):disabled + label,
input[type=date]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime]:not(.browser-default):disabled + label,
input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
input[type=datetime-local]:not(.browser-default):disabled + label,
input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
input[type=tel]:not(.browser-default):disabled + label,
input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
input[type=number]:not(.browser-default):disabled + label,
input[type=number]:not(.browser-default)[readonly="readonly"] + label,
input[type=search]:not(.browser-default):disabled + label,
input[type=search]:not(.browser-default)[readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
  color: #000;
  font-size: 20px;
  font-family: sans-serif !important;
}
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid red !important;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
          box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
}
input.valid:not([type]), input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid red !important;
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
          box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
        
}
@media (max-width: 1000px){
    *{
        padding: 0;
        margin: 0;
    }
    body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
        /* overflow: hidden !important; */
    
       
    }
    nav{
        box-shadow: none !important;
    }
    .nav-wrapper{
        background-color: #fff;
        border: none;
        display: flex;
    }
    
    
    .nav-menu{
       margin-top: 0px;
       font-size: 50px;
       font-weight: 900;
       letter-spacing: 1px;
       
    }
    
    .nav-link{
        margin-top: -10px;
        font-size: 12px !important;
     }
     .nav-logo{
        margin-top: 0;
        width: 10%;
    }
    
    .brand-logo{
        color: #000 !important;     
    }
    nav ul a:hover,
    nav ul a:active,
    nav ul li.active,
    nav ul a:hover {
        background: none !important;
    }
    
    .form-Input{
        width: 100%;
        height: 40vh !important;
        overflow: hidden !important;
        /* background: #000; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .form-Input a{
        margin-top: -30px;
        color: black;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
    .btn{
        width: 85%;
        position: absolute;
        left: 50%;
        margin-top: 20px;
        transform: translateX(-50%);
        font-family: sans-serif;
        background: #000 !important;
       color: red !important;
    }
    .center-Input{
        display: flex;
        flex-direction: column-reverse;
        width: 300px;
        /* background: #000; */
    }
    .input-field input{
        width: 100%;
        border-bottom: none !important;
        background-color: #d3d3d38c !important;
    }
    ::-webkit-input-placeholder {
        color: #000;
      }
      ::-moz-placeholder {
        color: #000;
      }
      :-ms-input-placeholder {
        color: #000;
      }
      ::-ms-input-placeholder {
        color: #000;
      }
      ::placeholder {
        color: #000;
      }
    
      label{
        color: rgba(0, 0, 0, 0.5) !important;
        padding-left: 10px; 
       
        font-family: sans-serif !important;
      }
      .input-field {
        position: relative;
        margin-top: .1rem !important;
        margin-bottom: .5rem !important;
      }
    
      input:active{
          border-bottom: red !important;
      }

      hr{
          width: 70%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
      }
      .menu{
        width: 80%;
        height: 70vh;
        /* background: #000; */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        }
        .menu .items{
            width: 70%;
            height: 50%;
            /* background-color: brown; */
            position: absolute;
            top: 10%;
            left: 50%;
            transform: translateX(-50%);
        }
        .menu .items ul{
            list-style: none;
        }
        .menu .items ul li{
            text-align: center;
            padding: 5px;
        }
        .menu .items ul li a{
            color: #000;
            text-align: center;
            font-family: sans-serif;
            font-weight: 600;
            font-size: 20px;
        }
        .menu .items hr{
        margin-top: 15px;

            border: .5px solid rgba(0, 0, 0, 0.1);
        }
        .menu .items p{
            margin-top: 25px;
            text-align: center;
            font-family: sans-serif;
            font-size: 20px;
        }
        .menu .items p a{
            text-decoration: none;
            color: #000;
        }
    
    input:not([type]):disabled + label,
    input:not([type])[readonly="readonly"] + label,
    input[type=text]:not(.browser-default):disabled + label,
    input[type=text]:not(.browser-default)[readonly="readonly"] + label,
    input[type=password]:not(.browser-default):disabled + label,
    input[type=password]:not(.browser-default)[readonly="readonly"] + label,
    input[type=email]:not(.browser-default):disabled + label,
    input[type=email]:not(.browser-default)[readonly="readonly"] + label,
    input[type=url]:not(.browser-default):disabled + label,
    input[type=url]:not(.browser-default)[readonly="readonly"] + label,
    input[type=time]:not(.browser-default):disabled + label,
    input[type=time]:not(.browser-default)[readonly="readonly"] + label,
    input[type=date]:not(.browser-default):disabled + label,
    input[type=date]:not(.browser-default)[readonly="readonly"] + label,
    input[type=datetime]:not(.browser-default):disabled + label,
    input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
    input[type=datetime-local]:not(.browser-default):disabled + label,
    input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
    input[type=tel]:not(.browser-default):disabled + label,
    input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
    input[type=number]:not(.browser-default):disabled + label,
    input[type=number]:not(.browser-default)[readonly="readonly"] + label,
    input[type=search]:not(.browser-default):disabled + label,
    input[type=search]:not(.browser-default)[readonly="readonly"] + label,
    textarea.materialize-textarea:disabled + label,
    textarea.materialize-textarea[readonly="readonly"] + label {
      color: #000;
      font-size: 20px;
      font-family: sans-serif !important;
    }
    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid red !important;
      -webkit-box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
              box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
    }
    input.valid:not([type]), input.valid:not([type]):focus,
    input.valid[type=text]:not(.browser-default),
    input.valid[type=text]:not(.browser-default):focus,
    input.valid[type=password]:not(.browser-default),
    input.valid[type=password]:not(.browser-default):focus,
    input.valid[type=email]:not(.browser-default),
    input.valid[type=email]:not(.browser-default):focus,
    input.valid[type=url]:not(.browser-default),
    input.valid[type=url]:not(.browser-default):focus,
    input.valid[type=time]:not(.browser-default),
    input.valid[type=time]:not(.browser-default):focus,
    input.valid[type=date]:not(.browser-default),
    input.valid[type=date]:not(.browser-default):focus,
    input.valid[type=datetime]:not(.browser-default),
    input.valid[type=datetime]:not(.browser-default):focus,
    input.valid[type=datetime-local]:not(.browser-default),
    input.valid[type=datetime-local]:not(.browser-default):focus,
    input.valid[type=tel]:not(.browser-default),
    input.valid[type=tel]:not(.browser-default):focus,
    input.valid[type=number]:not(.browser-default),
    input.valid[type=number]:not(.browser-default):focus,
    input.valid[type=search]:not(.browser-default),
    input.valid[type=search]:not(.browser-default):focus,
    textarea.materialize-textarea.valid,
    textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid red !important;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
            box-shadow: 0 1px 0 0 rgba(255, 0, 0, 0.2) !important;
            
    }
}