*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
nav{
    box-shadow: none !important;
}
.nav-wrapper{
    background-color: #fff;
    border: none;
}

ul li a{
    color: #000 !important;
   
}

.nav-menu{
    font-weight: 900;
    font-size: 25px;
}

.brand-logo{
    color: #000 !important;
   position: absolute;
   top: 10%;
   transform: translateY(-50%);
}
nav ul a:hover,
nav ul a:active,
nav ul li.active,
nav ul a:hover {
    background: none !important;
  }