*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
nav{
    box-shadow: none !important;
}
.nav-wrapper{
    background-color: #fff;
    border: none;
    display: flex;
}


.nav-menu{
   margin-top: 0px;
   font-size: 50px;
   font-weight: 900;
   letter-spacing: 1px;
   
}

.nav-link{
    margin-top: -10px;
 }

.brand-logo{
    color: #000 !important;
    font-size: 15px !important;
   
   
}
nav ul a:hover,
nav ul a:active,
nav ul li.active,
nav ul a:hover {
    background: none !important;
  }